.about {
    background-color: #F5F5F5;
}

.about-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 60px;
    text-align: start;
}

.about-text-column {
    text-align: justify;
    width:48.5%;
    font-size: 0.92rem;
    font-family: sans-serif;
    line-height: 1.6;
}

.about-gallery {
    position: relative;
}

.about-gallery:hover .galleryArrow {
    display: block;
}

.galleryArrow {
    display: none;
    position: absolute;
    top: 0;
    width: 3%;
    z-index: 1;
}

.galleryArrowImageLeft,
.galleryArrowImageRight {
    display: block;
    position: absolute;
    left: 0;
    top: 44%;
    width: 100%;
    height: 12%;
    background: url('../imgs/arrow.png') no-repeat center;
    background-size: 30%;
    background-color: rgba(129, 127, 127, 0.555);
}

.galleryArrowImageLeft:hover,
.galleryArrowImageRight:hover {
    background-size: 35%;
    cursor: pointer;
    background-color: rgba(167, 12, 12, 0.616);
}

.galleryLeftArrow {
    left: 0;
    transform: rotate(180deg);
}

.galleryRightArrow {
    right: 0;
}

.gallerySlider {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    overflow: hidden;
}

.about-developer {
    display: inline-block;
    text-align: center;
    min-width: 23%;
    margin: 0 1.3%;
}

.about-photo {
    position: relative;
    background: no-repeat center top;
    width: 100%;
    background-size: 110%;
    border-radius: 7px;
}

.photo-hover {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100%;
    border-radius: 7px;;
}

.about-photo:hover .photo-hover {
    display: block;
}

.about-photo.developer4:hover.developer4 {
    background: url("../imgs/dev04alt.jpg") no-repeat center top;
    background-size: 110%;
}

.developer-name {
    font-size: 0.95rem;
    margin-top: 12px;
    display: inline-block;
    line-height: 1.5;
}

.developer-name p:first-child {
    font-family: sans-serif;
}

.developer1 {
    background-image: url("../imgs/dev01.jpg");
}

.developer2 {
    background-image: url("../imgs/dev02.jpg");
}

.developer3 {
    background-image: url("../imgs/dev03.jpg");
}

.developer4 {
    background-image: url("../imgs/dev04.jpg");
}

.developer5 {
    background-image: url("../imgs/dev05.jpg");
}

.developer0 {
    background-image: url("../imgs/dev00.jpg");
}

.social-icons {
    position: absolute;
    top: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 12%;
    box-sizing: border-box;
}

.icons {
    display: block;
    background: no-repeat center;
    background-size: 98%;
    width: 12%;
    height: 100%;
    margin: 0 1%;
}

.social-fb {
    background-image: url("../imgs/fb.png");
}

.social-tw {
    background-image: url("../imgs/tw.png");
}

.social-g {
    background-image: url("../imgs/g.png");
}

.social-in {
    background-image: url("../imgs/in.png");
}

.social-lf {
    background-image: url("../imgs/lf.png");
    background-size: 103%;
    background-position: 0 0.8px;
}

.social-fb:hover,
.social-tw:hover,
.social-g:hover,
.social-in:hover,
.social-lf:hover {
    background-color: rgba(167, 20, 20, 0.671);
}

@media(max-width: 800px) {
    .about-text-column {
        font-size: 0.84rem;
        line-height: 1.6;
    }

    .developer-name {
        font-size: 0.8rem;
        margin-top: 9px;
    }
}

@media(max-width: 630px) {

    .about-text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }
    
    .about-text-column {
        width: 95%;
        font-size: 0.8rem;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .developer-name {
        font-size: 0.7rem;
        margin-top: 7px;
    }

    .developer-name p:first-child {
        font-weight: 700;
    }
}

@media(max-width: 500px) {
    .developer-name {
        font-size: 0.6rem;
        margin-top: 6px;
    }

    .social-lf {
        background-position: 0 0.4px;
 
}
/**
    .about-developer {
        text-align: center;
        margin: 0 auto;
        width: 42%;
    }

    .developer-name {
        margin: 10px;
        display: inline-block;
        line-height: 1.3;
    }

    .photo-hover {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 20%;
        border-radius: 0;
        margin-top: 70%;
    }

    .social-icons {
        position: static;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }

    .icons {
        display: block;
        background-size: 80%;
        width: 20%;
        background-color: rgba(173, 11, 11, 0.2);
        border-radius: 50%;
    }

}